@media (max-width: 1200px) {
    .carousel {
        .prev{
            border: none;
            background-color: white;
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 31px;
                height: 50px;
                &:hover{
                    filter: brightness(80%);
                }
            }
        }
        .next{
            border: none;
            background-color: white;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 31px;
                height: 50px;
                &:hover{
                    filter: brightness(80%);
                }
            }
        }
    }
}





@media (max-width: 991px) {
    .header{
        padding: 0 20px 0 20px;
        &__logo{
            img{
                width: 80%;
            }
        }
        &__official{
            span{
              font-size: 16px;  
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo{
        &__wrapper{
            align-items: center;
            padding: 0 20px;
        }
        &__header{
            font-size: 36px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 5px;
        }
    }
    .benefits{
        &__wrapper{
            padding: 0 20px
        }
        
        &__items{
            width: 220px;
        }
        &__subtitle{
            margin-top: 30px;
        }
        &__text{
            margin-top: 14px;
        }
    }
    .title{
        font-size: 26px;
    }
    .consultation{
        padding: 70px 20px 70px 20px;
    }
    
    .carousel{
        .tns-item{
            img {
                width: 570px;
            }
        }
    }
    
    
}





@media (max-width: 767px) {
    .header{
        &__official{
            display: none;
        }
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__header{
            font-size: 36px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icon{
            font-size: 12px;
            img {
                width: 35px;
            }
        }
        &__link{
            font-size: 14px;
        }
    }
    .button {
        &_main{
            width: 250px;
            font-size: 14px;
        }
    }
    }
    .benefits{
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__items{
            margin-top: 30px;
            &:first-child{
                margin-top: 0;
            }
        }
        &__subtitle{
            margin-top: 10px;
        }
        }
    .title {
        &_left{
            text-align: center;
        }
        }
    .consultation{
        min-height: 500px;
        &__descr{
            font-size: 16px;
            margin-top: 40px;
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
    }
    .prev-lg-hidden, .next-lg-hidden {
        display: none;
    }
    .carousel{
        .tns-item{
            img {
                width: 450px;
            }
        }
    }
    }
    


    @media (max-width: 575px) {
        .header{
            &__official{
            display: none;
        }
            &__phone{
                font-size: 12px;
        }
        }  
        .button {
            width: 110px;
            height: 23px;
            font-size: 10px;
        }
        .promo{
            min-height: 500px;
            &__header{
                font-size: 24px;
                text-align: center;
            }
            &__subheader{
                font-size: 18px;
                text-align: center;
            }
            &__icon{
                display: none;
            }
            &__link{
                font-size: 12px;
            }
            
        }
        .button{
            &_main{
                margin-top: 0;
                width: 250px;
                height: 40px;
                font-size: 12px;
            }
            &_submit{
                width: 100%;
                height: 55px;
                font-size: 16px;
            }
        }
        .benefits{
            padding: 45px 0 50px 0;
            &__wrapper{
                margin-top: 50px;
            }
            &__items{
                margin-top: 20px;
                &:first-child{
                    margin-top: 0;
                }
            }
            }
        .title{
            font-size: 22px;
        }
        .consultation{
            padding-right: 10px;
            padding-left: 10px;
        }
        
        .carousel{
            .tns-item{
                img {
                    width: 270px;
                }
            }
        }
        
    }

    @media (max-width: 375px) {
        .feed-form{
            width: 270px;
            input{
                height: 45px;  
            }
        }
    }

    