.reviews {
    padding: 0 20px 61px 20px;
    &__wrapper{
        margin-top: 70px;
    }
    &__item {
        display: flex;
        margin-bottom: 102px;
        &:last-child {
            margin-bottom: 0;
        }
        img{
            width: 169px;
            height: 169px;
            margin-right: 62px;
        }
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-top: 10px;
    }
    &__descr {
        max-width: 656px;
        min-height: 129px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
        line-height: 16px;
    }

}
